.ant-picker-active-bar{
    // display: none;
    background: #ff385c !important;
}
.ant-picker-input{
    // input{
    //     color: red;
    // }
    cursor: pointer !important;
}
.ant-picker{
    padding : 0 11px
}